# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/

# Django
*.sqlite3

# Static & media (optional, falls du extern hostest)
staticfiles/
media/

# IDE
.vscode/
.idea/

# Environment files
.env
*.env