{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Piszemy artykuły na temat izraela, biblii i różne świadectwa."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'images/logo.svg' %}"
      type="image/x-icon"
    />
    <title>Po Izraelsku</title>
    <script defer>
      const slideShowImgs = [
        "{% static 'images/background-img.jpg' %}",
        "{% static 'images/slideshow-img3.jpg' %}",
        "{% static 'images/slideshow-img1.jpg' %}",
        "{% static 'images/slideshow-img2.jpg' %}",
      ];
    </script>
    <script src="{% static 'script.js' %}" defer></script>
    <script src="{% static 'animations.js' %}" defer></script>
  </head>
  <body>
    {% include "navbar.html" %}

    <header>
      <img
        src="{% static 'images/background-img.jpg' %}"
        loading="eager"
        class="slide-img"
        fetchpriority="high"
        alt="Ze względu na Syjon nie będę milczał i ze względu na Jerozolimę nie spocznę"
      />
      <img
        style="left: 60px"
        class="arrows"
        onclick="changeBibleVerseBackward()"
        src="{% static 'images/arrow-left.svg' %}"
        alt=""
      />
      <div class="bible-verse"></div>
      <img
        style="right: 0px"
        class="arrows"
        onclick="changeBibleVerseForward()"
        src="{% static 'images/arrow-right.svg' %}"
        alt=""
      />
    </header>

    <section id="about">
      <div class="right-about left-anim">
        <h1>Czym jest Po Izraelsku?</h1>
        <p style="text-align: justify">
          Zajmujemy się różnymi tematami, które wszystkie związane są z naszą
          wiarą Jezusa Mesjasza, Biblią oraz Izraelem. Jesteśmy świadomi tego,
          jak ważny jest lud żydowski w planie Boga oraz wierzymy, że jako
          chrześcianie jesteśmy silnie związani z Izraelem.
        </p>
        <a
          style="display: flex; text-decoration: none"
          href="{% url 'about_us' %}"
          ><button>Cztaj więcej &rarr;</button></a
        >
      </div>
      <div class="left-about">
        <div class="aboutus-img-container">
          <img
            class="about-img"
            loading="lazy"
            src="{% static 'images/background-img.jpg' %}"
            alt="Jesteśmy Jaqueline i Robin."
          />
        </div>
      </div>

      <div
        class="triangle"
        style="clip-path: polygon(100% 50%, 0% 100%, 100% 100%)"
      ></div>
    </section>

    <section id="themes">
      <h1 class="top-anim">TEMATY O KTÓRYCH PISZEMY</h1>
      <div class="theme-container">
        <a
          href="{% url 'blog_overview_israel' %}"
          class="theme-pic bottom-anim"
        >
          <img
            loading="lazy"
            src="{% static 'images/theme-pic-1.jpg' %}"
            alt="Piszemy o rzeczach związanych z izraelem"
          />
          <div>
            Izrael <br />
            i język <br />
            hebrajski
          </div>
        </a>
        <a href="{% url 'blog_overview_bible' %}" class="theme-pic bottom-anim">
          <img
            loading="lazy"
            src="{% static 'images/theme-pic-2.jpg' %}"
            alt="Piszemy o rzeczach związanych z biblią"
          />
          <div>BIBLIA</div>
        </a>
        <a
          href="{% url 'blog_overview_testimonies' %}"
          class="theme-pic bottom-anim"
        >
          <img
            loading="lazy"
            src="{% static 'images/theme-pic-3.jpg' %}"
            alt="Piszemy o świadectwach"
          />
          <div style="font-size: 20px">
            Budujące <br />
            świadectwa i prawdziwe <br />
            historie
          </div>
        </a>
      </div>
    </section>

    <section id="blog-suggestion">
      <div class="img-holder">
        <img
          alt=""
          loading="lazy"
          class="background-img"
          src="{% static 'images/background-img.jpg' %}"
        />
      </div>

      <h1 class="top-anim blog-h1">BLOG</h1>
      <div class="blog-container" style="margin-bottom: 0px">
        {% for row in articelSuggestion %}
        <div class="blog-items blend-in">
          <div class="blog-img">
            <div class="center-text">
              <a href="{% url 'artikel_detail' row.slug %}">czytaj</a>
            </div>
            <a href="{% url 'artikel_detail' row.slug %}"
              ><img
                class="link-img"
                loading="lazy"
                src="{{row.background_img.url}}"
                alt="{{row.title}}"
            /></a>
          </div>
          <div class="blog-text">
            <a href="{% url 'artikel_detail' row.slug %}">{{ row.title }}</a>
          </div>
        </div>

        {% endfor %}
      </div>
    </section>
  </body>
</html>
