<nav>
  <ul>
    <li style="animation: topAnim 0.5s forwards ease-in-out;"><a class="link-item" href="{% url 'home' %}">HOME</a></li>
    <li style="animation: topAnim 0.7s forwards ease-in-out;"><a class="link-item" href="{% url 'blog_overview' %}">BLOG</a></li>
    <li class="logo" style="animation: topAnim 0.9s forwards ease-in-out;">
      <a href="{% url 'home' %}"
        ><h1>
          Po
          <img fetchpriority="high" alt="" src="/media/images/logo.svg" />
          Izraelsku
        </h1></a
      >
    </li>
    <li style="animation: topAnim 1.1s forwards ease-in-out;"><a class="link-item" href="{% url 'about_us' %}">O NAS</a></li>
    <li style="animation: topAnim 1.3s forwards ease-in-out;"><a class="link-item" href="{% url 'contact' %}">KONTAKT</a></li>
  </ul>
</nav>
